[data-md-color-scheme="slate"] {
    --md-default-bg-color: hsl(235, 15%, 16%);
    --md-accent-fg-color: rgb(145, 251, 255);
    --md-text-link-color: rgba(145, 251, 255, 0.8);
}

/* keywords */
.codehilite .kr, .highlight .kr, .codehilite .kd, .highlight .kd {
    color: #6497f7;
}

/* string */
.codehilite .s1, .highlight .s1 {
    color: #ff84ec;
}

/* line highlight */
.codehilite .hll, .highlight .hll {
    background-color: rgba(145, 132, 18, 0.79);
}

/* function */
.codehilite .nf, .highlight .nf, .codehilite .nc, .highlight .nc, .codehilite .nb, .highlight .nb {
    color: #ff8080;
}

.md-typeset .tabbed-set > input:checked + label {
    color: var(--md-primary-fg-color);
    border-color: var(--md-primary-fg-color);
}

.md-typeset__table {
    display: flex;
    justify-content: center;
}

.md-typeset table:not([class]) {
    width: auto;
    background-color: rgb(39, 37, 35);
}

.md-content__inner > p {
    text-align: justify;
}
